/shell/localhost-gen-web/runtimes
/shell/localhost-gen-web/**/*.dll
/shell/localhost-gen-web/**/*.json
/shell/localhost-gen-web/**/*.pdb

.sass-cache/
bower_components/
node_modules/

scriptcs/scriptcs_packages/
scriptcs/*.suo
scriptcs/*.user
scriptcs/.vs/
scriptcs/bin/
scriptcs/obj/

[Bb]in/
[Oo]bj/
[Ww]orking*/
Build/runbuild.txt
Doc/doc.shfbproj_*
TestResults/
AppPackages/
packages/
*.html
!presentation/templates/**/*.html
!index.html
*.suo
*.user
*.userprefs
_ReSharper.*
*.ReSharper.user
*.resharper.user
.vs/
*.lock.json
*.nuget.props
*.nuget.targets
*.orig