@import './palette';
@import './index';

$typography-config: mat-typography-config(
    $font-family: '"Segoe UI", Roboto, "Helvetica Neue", sans-serif'
);
@include mat-core($typography-config);
$akyinkyin-primary: mat-palette($mat-akyinkyin-green, 500);
$akyinkyin-accent: mat-palette($mat-akyinkyin-green, A200, A100, A400);
$akyinkyin-warn: mat-palette($mat-red);
$akyinkyin-theme: mat-dark-theme(
    $akyinkyin-primary,
    $akyinkyin-accent,
    $akyinkyin-warn
);
@include angular-material-theme($akyinkyin-theme);
