---
layout: layouts/base.html
templateClass: tmpl-index
---
<div class="mdc-layout-grid__cell--span-8">
    {% assign lastThreeEntries = collections.entries | blogHead: 7 -%}
    <section class="entries">
    {% for entry in lastThreeEntries %}
        <div class="entry extract">
            <h3 class="mdc-typography--headline4"><a class="index" href="{{ settings.uri }}entry/{{ entry.data.documentShortName }}">{{ entry.data.title }}</a></h3>
            <p>{{ entry.data.tag | getExtract }}</p>
        </div>
    {% endfor %}
    </section>
</div>
<div class="entries mdc-layout-grid__cell--span-4">
{% include snippets/pagination-nav %}
</div>