<!DOCTYPE html>
<html lang="en">
    {% assign root = "./" -%}
    {%- if templateClass == "tmpl-entry" -%}
    {%- assign root = "../../" -%}
    {%- endif -%}

{% render snippets/head, root: root, settings: settings, title: title, tag: tag, clientId: clientId %}

    <body class="mdc-theme--background mdc-typography">
{% render snippets/svg-data %}
{% render snippets/body-header, root: root, settings: settings, templateClass: templateClass %}
        <main class="mdc-layout-grid mdc-top-app-bar--prominent-fixed-adjust" id="main-content">
            <div class="mdc-layout-grid__inner">
                {{ content }}
            </div>
        </main>
{% render snippets/body-footer, root: root, settings: settings, modificationDate: modificationDate, templateClass: templateClass %}
    </body>

</html>