<!DOCTYPE html>
<html lang="en">
    {% assign root = "./" -%}
    {%- if templateClass == "tmpl-entry" -%}
    {%- assign root = "../../" -%}
    {%- endif -%}

{% include snippets/head %}

    <body class="mdc-theme--background mdc-typography">
{% include snippets/svg-data %}
{% include snippets/body-header %}
        <main class="mdc-layout-grid mdc-top-app-bar--prominent-fixed-adjust" id="main-content">
            <div class="mdc-layout-grid__inner">
                {{ content }}
            </div>
        </main>
{% include snippets/body-footer %}
    </body>

</html>