---
pagination:
    alias: entries
    data: collections.entries
    size: settings.sitePagination.size
    reverse: true
---
<!DOCTYPE html>
<html lang="en">
    {% assign pageNumber = pagination.pageNumber -%}
    {%- assign pageCount = pagination.hrefs.length -%}
    {%- assign root = "../../" -%}
    {%- if pageNumber == 0 -%}
    {%- assign root = "../" -%}
    {%- endif -%}

    {% include snippets/head %}

    <body class="mdc-theme--background mdc-typography">
        {% include snippets/svg-data %}
        {% include snippets/body-header %}
        <main class="mdc-layout-grid mdc-top-app-bar--prominent-fixed-adjust" id="main-content">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-12">
                    <section class="entries mdc-typography--body1">
                        <div class="pagination controls mdc-theme--background mdc-typography--headline3">
                            {%- if pagination.previousPageHref -%}
                            <a class="material-icons" href="{{ pagination.firstPageHref }}" title="first page">first_page</a>
                            <a class="material-icons" href="{{ pagination.previousPageHref }}" title="previous page">arrow_back_ios</a>
                            {%- endif -%}
                            <span class="position">{{ pageNumber | plus: 1 }} / {{ pageCount }}</span>
                            {%- if pagination.nextPageHref -%}
                            <a class="material-icons" href="{{ pagination.nextPageHref }}" title="next page">arrow_forward_ios</a>
                            <a class="material-icons" href="{{ pagination.lastPageHref }}" title="last page">last_page</a>
                            {%- endif -%}
                        </div>
                        <ul class="pagination mdc-list">
                            {% assign yearMonth = '' -%}
                            {%- for entry in entries -%}
                            {%- assign currentYearMonth = entry.data.clientId | slice: 0, 7 -%}
                            {%- if yearMonth != currentYearMonth -%}
                            <li id="{{ currentYearMonth }}" class="mdc-list-item header mdc-typography--headline4">{{ currentYearMonth }}</li>
                            {%- endif -%}
                            <li class="mdc-list-item mdc-typography--body1"><a href="{{ root }}entry/{{ entry.data.clientId }}">{{ entry.data.title }}</a></li>
                            {% assign yearMonth = entry.data.clientId | slice: 0, 7 -%}
                            {%- endfor -%}
                        </ul>
                    </section>
                </div>
            </div>
        </main>
        {% include snippets/body-footer %}
    </body>

</html>